In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as ptl
import seaborn as sns 
import warnings

In [7]:
df = pd.read_csv("Travel.csv")
df.head(3)

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [9]:
# Checking for the missing values
df.isna().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [11]:
# Checking the Catagorical Features in the dataset
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [12]:
df['Gender'].value_counts()
# Here Female and Fe male are Basically the same catagorey it's just a spelling mistake so will be merging both of them

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [16]:
df['Gender'] = df['Gender'].replace('Fe Male' , 'Female')

In [17]:
df['Gender'].value_counts()
# now we have the actual counts of the given values

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [14]:
df['Occupation'].value_counts()

Occupation
Salaried          2368
Small Business    2084
Large Business     434
Free Lancer          2
Name: count, dtype: int64

In [15]:
df['MaritalStatus'].value_counts()
# here the Catagoery Single and Unmaaried are the same so we can merge that too

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [19]:
df['MaritalStatus'] = df['MaritalStatus'].replace('Unmarried' , 'Single')
df['MaritalStatus'].value_counts()

MaritalStatus
Married     2340
Single      1598
Divorced     950
Name: count, dtype: int64

In [29]:
df['NumberOfChildrenVisiting'].value_counts()

NumberOfChildrenVisiting
1.0    2080
2.0    1335
0.0    1082
3.0     325
Name: count, dtype: int64

In [28]:
# checking the missing values 
features_with_na = [features for features in df.columns if df[features].isnull().sum()>=1]
print(features_with_na)
for feature in features_with_na :
    print(feature , np.round(df[feature].isnull().mean()*100,5),'% Missing Values ')

['Age', 'TypeofContact', 'DurationOfPitch', 'NumberOfFollowups', 'PreferredPropertyStar', 'NumberOfTrips', 'NumberOfChildrenVisiting', 'MonthlyIncome']
Age 4.62357 % Missing Values
TypeofContact 0.51146 % Missing Values
DurationOfPitch 5.13502 % Missing Values
NumberOfFollowups 0.92062 % Missing Values
PreferredPropertyStar 0.53191 % Missing Values
NumberOfTrips 2.86416 % Missing Values
NumberOfChildrenVisiting 1.35025 % Missing Values
MonthlyIncome 4.76678 % Missing Values

In [25]:
df[features_with_na].select_dtypes(exclude='object').describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

In [36]:
 # Impiting the missing values 

df.Age.fillna(df.Age.median() , inplace= True)
df.TypeofContact.fillna(df.TypeofContact.mode()[0] , inplace= True)
df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace= True)
df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0] , inplace= True)
df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0] , inplace= True)
df.NumberOfTrips.fillna(df.NumberOfTrips.median() , inplace= True)
df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0],inplace= True )
df.MonthlyIncome.fillna(df.MonthlyIncome.median() , inplace=True)

C:\Users\reply\AppData\Local\Temp\ipykernel_15632\2322385304.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Age.fillna(df.Age.median() , inplace= True)
C:\Users\reply\AppData\Local\Temp\ipykernel_15632\2322385304.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace= True)
C:\Users\reply\AppData\Local\Temp\ipykernel_15632\2322385304.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0] , inplace= True)
C:\Users\reply\AppData\Local\Temp\ipykernel_15632\2322385304.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0] , inplace= True)
C:\Users\reply\AppData\Local\Temp\ipykernel_15632\2322385304.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfTrips.fillna(df.NumberOfTrips.median() , inplace= True)
C:\Users\reply\AppData\Local\Temp\ipykernel_15632\2322385304.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0],inplace= True )
C:\Users\reply\AppData\Local\Temp\ipykernel_15632\2322385304.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.MonthlyIncome.fillna(df.MonthlyIncome.median() , inplace=True)

In [37]:
# Again Checking for the null Values
df.isna().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

The Data Set Had a lot of missing Values which has been removed and the data is now good to go

In [38]:
df.drop('CustomerID' , inplace= True , axis= 1)

# Feature Engerring for the Given DataSet

In [39]:
X = df.drop('ProdTaken' , axis= 1)
Y = df['ProdTaken']

In [40]:
# We will be Using Column Trasnformer for Doing the Feature Eng But before Hand we Need to split our data in Train and test Split
from sklearn.model_selection import train_test_split 
X_train , X_test , Y_train , Y_test = train_test_split(X , Y , test_size= 0.3)

In [43]:
X_train.shape , X_test.shape , Y_train.shape

((3421, 18), (1467, 18), (3421,))

In [45]:
# We will be spliting the Data into numerical and catagorical features
cat_features = X.select_dtypes(include='object').columns
num_features = X.select_dtypes(exclude='object').columns
print(cat_features , num_features)

Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object') Index(['Age', 'CityTier', 'DurationOfPitch', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'PreferredPropertyStar', 'NumberOfTrips',
       'Passport', 'PitchSatisfactionScore', 'OwnCar',
       'NumberOfChildrenVisiting', 'MonthlyIncome'],
      dtype='object')

In [46]:
# Now we will do feature Encoding Using Column Transformer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder , StandardScaler 
oh = OneHotEncoder()
num_trf = StandardScaler()
column = ColumnTransformer( 
    [
        ("OneHotEncoder" , oh , cat_features),
        ("Standard Scaler" , num_trf , num_features)
    ]
)

In [47]:
X_train = column.fit_transform(X_train)
X_test = column.transform(X_test)

Now from Here on we will be Seeing New Way of Implementing the machine Learning Technique that is a Vey Generic and Industry approved Way of Using Machine Learning Algorithims

# RandomForest Classifier

In [49]:
# importing the modules 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score , classification_report , confusion_matrix , precision_score, roc_auc_score , f1_score , recall_score

In [51]:
# We make a dictinoary of the model that we want to give for the purpose of our data traning and testing 
models = {
    'Random Forest' : RandomForestClassifier()
} 
for i in range (len(list(models))) :
    model = list(models.values())[i]
    model.fit(X_train ,Y_train) # traning the model 

    # make Predections
    Y_preds_train = model.predict(X_train) 
    Y_preds = model.predict(X_test)

    # Testing the performance on the train dataset 
    model_train_accuracy = accuracy_score(Y_train , Y_preds_train)
    model_train_classify = classification_report(Y_train , Y_preds_train)
    model_train_f1 = f1_score(Y_train , Y_preds_train)
    model_train_precison = precision_score(Y_train , Y_preds_train)


    # testing the performance on the test dataset 
    model_test_accuracy = accuracy_score(Y_test , Y_preds)
    model_test_classify = classification_report(Y_test , Y_preds)
    model_test_f1 = f1_score(Y_test , Y_preds)
    model_test_precison = precision_score(Y_test , Y_preds)

    print(f"\nTraining Results:")
    print(f"  - Accuracy        : {model_train_accuracy:.4f}")
    print(f"  - F1 Score        : {model_train_f1:.4f}")
    print(f"  - Precision       : {model_train_precison:.4f}")
    print(f"  - Classification Report:\n{model_train_classify}")
    
    print(f"\nTesting Results:")
    print(f"  - Accuracy        : {model_test_accuracy:.4f}")
    print(f"  - F1 Score        : {model_test_f1:.4f}")
    print(f"  - Precision       : {model_test_precison:.4f}")
    print(f"  - Classification Report:\n{model_test_classify}")
    print("-" * 40)  # Divider for clarity between models

Training Results:
  - Accuracy        : 1.0000
  - F1 Score        : 1.0000
  - Precision       : 1.0000
  - Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2775
           1       1.00      1.00      1.00       646

    accuracy                           1.00      3421
   macro avg       1.00      1.00      1.00      3421
weighted avg       1.00      1.00      1.00      3421


Testing Results:
  - Accuracy        : 0.9148
  - F1 Score        : 0.7204
  - Precision       : 0.9306
  - Classification Report:
              precision    recall  f1-score   support

           0       0.91      0.99      0.95      1193
           1       0.93      0.59      0.72       274

    accuracy                           0.91      1467
   macro avg       0.92      0.79      0.84      1467
weighted avg       0.92      0.91      0.91      1467

----------------------------------------

After trying it wiht random forest we can add other Machine learning models too and check the result for each one of them

In [53]:
# We make a dictinoary of the model that we want to give for the purpose of our data traning and testing
from sklearn.tree import DecisionTreeClassifier 
from sklearn.linear_model import LogisticRegression
models = {
    # adding more Machine Learning models
    'Logstic Regression' : LogisticRegression(),
    'Decision Tres' : DecisionTreeClassifier(),
    'Random Forest' : RandomForestClassifier()
} 
for i in range (len(list(models))) :
    model = list(models.values())[i]
    model.fit(X_train ,Y_train) # traning the model 

    # make Predections
    Y_preds_train = model.predict(X_train) 
    Y_preds = model.predict(X_test)

    # Testing the performance on the train dataset 
    model_train_accuracy = accuracy_score(Y_train , Y_preds_train)
    model_train_classify = classification_report(Y_train , Y_preds_train)
    model_train_f1 = f1_score(Y_train , Y_preds_train)
    model_train_precison = precision_score(Y_train , Y_preds_train)


    # testing the performance on the test dataset 
    model_test_accuracy = accuracy_score(Y_test , Y_preds)
    model_test_classify = classification_report(Y_test , Y_preds)
    model_test_f1 = f1_score(Y_test , Y_preds)
    model_test_precison = precision_score(Y_test , Y_preds)

    print(f"\nTraining Results:")
    print(f"  - Accuracy        : {model_train_accuracy:.4f}")
    print(f"  - F1 Score        : {model_train_f1:.4f}")
    print(f"  - Precision       : {model_train_precison:.4f}")
    print(f"  - Classification Report:\n{model_train_classify}")
    
    print(f"\nTesting Results:")
    print(f"  - Accuracy        : {model_test_accuracy:.4f}")
    print(f"  - F1 Score        : {model_test_f1:.4f}")
    print(f"  - Precision       : {model_test_precison:.4f}")
    print(f"  - Classification Report:\n{model_test_classify}")
    print("-" * 40)  # Divider for clarity between models

Training Results:
  - Accuracy        : 0.8483
  - F1 Score        : 0.4425
  - Precision       : 0.7228
  - Classification Report:
              precision    recall  f1-score   support

           0       0.86      0.97      0.91      2775
           1       0.72      0.32      0.44       646

    accuracy                           0.85      3421
   macro avg       0.79      0.65      0.68      3421
weighted avg       0.83      0.85      0.82      3421


Testing Results:
  - Accuracy        : 0.8412
  - F1 Score        : 0.4101
  - Precision       : 0.6694
  - Classification Report:
              precision    recall  f1-score   support

           0       0.86      0.97      0.91      1193
           1       0.67      0.30      0.41       274

    accuracy                           0.84      1467
   macro avg       0.76      0.63      0.66      1467
weighted avg       0.82      0.84      0.82      1467

----------------------------------------

Training Results:
  - Accuracy        : 1.0000
  - F1 Score        : 1.0000
  - Precision       : 1.0000
  - Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2775
           1       1.00      1.00      1.00       646

    accuracy                           1.00      3421
   macro avg       1.00      1.00      1.00      3421
weighted avg       1.00      1.00      1.00      3421


Testing Results:
  - Accuracy        : 0.9107
  - F1 Score        : 0.7673
  - Precision       : 0.7474
  - Classification Report:
              precision    recall  f1-score   support

           0       0.95      0.94      0.94      1193
           1       0.75      0.79      0.77       274

    accuracy                           0.91      1467
   macro avg       0.85      0.86      0.86      1467
weighted avg       0.91      0.91      0.91      1467

----------------------------------------

Training Results:
  - Accuracy        : 1.0000
  - F1 Score        : 1.0000
  - Precision       : 1.0000
  - Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2775
           1       1.00      1.00      1.00       646

    accuracy                           1.00      3421
   macro avg       1.00      1.00      1.00      3421
weighted avg       1.00      1.00      1.00      3421


Testing Results:
  - Accuracy        : 0.9148
  - F1 Score        : 0.7253
  - Precision       : 0.9116
  - Classification Report:
              precision    recall  f1-score   support

           0       0.92      0.99      0.95      1193
           1       0.91      0.60      0.73       274

    accuracy                           0.91      1467
   macro avg       0.91      0.79      0.84      1467
weighted avg       0.91      0.91      0.91      1467

----------------------------------------

# Now as we are focused on Random Forest in this Notebook we will be HyperTuning the RandomForest Model

In [54]:
# we will be hyper tuning the model using randomised Search CV 
params = {
    'n_estimators' :  [100,200,500,1000],
    'max_depth' :  [ 5, 8, 15, None , 20],
    'criterion' : ['gini', 'entropy', 'log_loss'],
    'min_samples_split' : [2 , 5, 8, 15],
    'max_features' : [5,7,"auto" , 8]


}

In [55]:
# Model Lists for HyperParameter Tuning 
randomcv_models = [
    ('RF' , RandomForestClassifier() , params)
]

In [56]:
randomcv_models

[('RF',
  RandomForestClassifier(),
  {'n_estimators': [100, 200, 500, 1000],
   'max_depth': [5, 8, 15, None, 20],
   'criterion': ['gini', 'entropy', 'log_loss'],
   'min_samples_split': [2, 5, 8, 15],
   'max_features': [5, 7, 'auto', 8]})]

In [57]:
# importing the RandomisedSearchCV 
from sklearn.model_selection import RandomizedSearchCV
model_params = {}
for name ,model ,params in randomcv_models :
    random = RandomizedSearchCV(estimator=model , param_distributions= params , n_iter= 100 , cv=3 , verbose=2 , n_jobs= 2)
    random.fit(X_train , Y_train)
    model_params[name] = random.best_params_

for model_name in model_params :
    print(f"--------------Best Params for the Model {model_name}-----")
    print(model_params[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:547: FitFailedWarning:
87 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
87 fits failed with the following error:
Traceback (most recent call last):
  File "c:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 1467, in wrapper
    estimator._validate_params()
  File "c:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "c:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:1051: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan 0.88628755        nan
 0.83221243 0.87518028 0.85910379 0.88219578 0.86231889        nan
 0.87927282        nan        nan 0.83805731        nan        nan
 0.89622702 0.89417998 0.86757948        nan 0.87196545 0.88219526
 0.87079611 0.89125882 0.88278057 0.83133473        nan 0.85647247
 0.88014899 0.88775056 0.89447238 0.8807343         nan 0.88716551
 0.837472   0.87751793        nan 0.86641015 0.88424384 0.87985736
 0.8707956  0.85998073 0.8880427  0.88979606 0.88278185 0.86582612
 0.84858055        nan 0.84098052 0.86348796        nan        nan
 0.85355003 0.88687234 0.87021003        nan 0.87956445 0.83776491
        nan 0.88511847 0.89008923        nan 0.83250483        nan
 0.85676512 0.87810272 0.89388809 0.83250457 0.88862647        nan
        nan 0.83805757 0.88745791 0.89242713 0.86553423 0.86436387
        nan 0.89096514 0.86085715 0.83338202 0.87254922        nan
 0.83893476        nan 0.88804219 0.86699494        nan 0.83338177
 0.89476554        nan 0.86319505 0.83922639 0.86202623 0.84010409
 0.85647298 0.88482659 0.89184182        nan]
  warnings.warn(

--------------Best Params for the Model RF-----
{'n_estimators': 1000, 'min_samples_split': 2, 'max_features': 8, 'max_depth': 20, 'criterion': 'entropy'}

In [58]:
# Now we Use the given Params to HyperTune Our model 
models = {
    'Random Forest' : RandomForestClassifier(n_estimators= 1000 , min_samples_split= 2 , max_features= 8 , max_depth= 20 , criterion='entropy')
}

for i in range (len(list(models))) :
    model = list(models.values())[i]
    model.fit(X_train ,Y_train) # traning the model 

    # make Predections
    Y_preds_train = model.predict(X_train) 
    Y_preds = model.predict(X_test)

    # Testing the performance on the train dataset 
    model_train_accuracy = accuracy_score(Y_train , Y_preds_train)
    model_train_classify = classification_report(Y_train , Y_preds_train)
    model_train_f1 = f1_score(Y_train , Y_preds_train)
    model_train_precison = precision_score(Y_train , Y_preds_train)


    # testing the performance on the test dataset 
    model_test_accuracy = accuracy_score(Y_test , Y_preds)
    model_test_classify = classification_report(Y_test , Y_preds)
    model_test_f1 = f1_score(Y_test , Y_preds)
    model_test_precison = precision_score(Y_test , Y_preds)

    print(f"\nTraining Results:")
    print(f"  - Accuracy        : {model_train_accuracy:.4f}")
    print(f"  - F1 Score        : {model_train_f1:.4f}")
    print(f"  - Precision       : {model_train_precison:.4f}")
    print(f"  - Classification Report:\n{model_train_classify}")
    
    print(f"\nTesting Results:")
    print(f"  - Accuracy        : {model_test_accuracy:.4f}")
    print(f"  - F1 Score        : {model_test_f1:.4f}")
    print(f"  - Precision       : {model_test_precison:.4f}")
    print(f"  - Classification Report:\n{model_test_classify}")
    print("-" * 40)  # Divider for clarity between models

Training Results:
  - Accuracy        : 1.0000
  - F1 Score        : 1.0000
  - Precision       : 1.0000
  - Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      2775
           1       1.00      1.00      1.00       646

    accuracy                           1.00      3421
   macro avg       1.00      1.00      1.00      3421
weighted avg       1.00      1.00      1.00      3421


Testing Results:
  - Accuracy        : 0.9230
  - F1 Score        : 0.7601
  - Precision       : 0.9086
  - Classification Report:
              precision    recall  f1-score   support

           0       0.93      0.98      0.95      1193
           1       0.91      0.65      0.76       274

    accuracy                           0.92      1467
   macro avg       0.92      0.82      0.86      1467
weighted avg       0.92      0.92      0.92      1467

----------------------------------------

# <---------End of NoteBook -------->